* {
  /* border: red solid 1px; */
  font-family: 'Open Sans', sans-serif;
  background-color: rebeccapurple;
  color: white;
}

h1 {
  font-size: 50px;
}

.main-title {
  font-size: 50px;
  border-bottom: black solid 5px;
}

h2 {
  font-size: 30px;
}

.title {
  font-size: 30px;
  border-bottom: black solid 5px;
}

h3 {
  font-size: 20px;
}


body {
  display: flex;
  flex-direction: row;
  height: 900px;
}

button {
  margin-top: 30px;
  padding: 10px 20px;
  border-radius: 10px 10px 10px 10px;
  filter: brightness(130%);
  cursor: pointer;
}

.left-row {
  padding-top: 15px;
  width: 25%;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
  border-right: black solid 5px;
}

.middle-row {
  width: 50%;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: space-evenly;
}

.right-row {
  padding-top: 15px;
  width: 25%;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
  border-left: black solid 5px;
}

.icon {
  width: 100px;
  height: 100px;
  cursor: pointer;
  padding: 10px;
  transition: all .2s ease-in-out;
}

.icon:hover, .classic-game-rules:hover, .spicy-game-rules:hover, button:hover {
  transform: scale(1.1);
}

.win-icons {
  width: 150px;
  height: 150px;
  padding: 10px;
}

.winner-screen {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
}

.you-icon, .computer-icon {
  width: 100px;
  height: 100px;
}

.classic-game-rules, .spicy-game-rules {
  width: 300px;
  height: 200px;
  filter: brightness(120%);
  cursor: pointer;
  border: black solid 2px;
  transition: all .2s ease-in-out;
}

.hidden {
	display: none;
  }
